body {
  //  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.titulo{
  text-align: center;
  color: limegreen;
  margin-bottom: 5%;
}
.linhas{
  margin-top: 0px;
  width: 30%;
}
.linha{
  @extend .linhas;
  border-top: 3px solid yellowgreen;
  float: left;

}
.linha2{
  @extend .linhas;
  border-top: 3px solid red;
  float: right;

}
.data{
  margin-top: 25px;
  color: grey;
  text-align: center;
}
.conf{
  text-align: center;
  font-size: 84%;
  color: black !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
.pad{
  padding-right: 20px;
  padding-bottom: 30px;
}
.ola{
  width: 100%;
  display: inline-flex;
}
.ola2{
  display: inline-flex;
}
.imagem{
  width: 20%;
  text-align: center;
}
.grafico{
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
.resultados{
  width: 50%;
  padding-bottom: 2%;
}
.imagemestadio{
  width: 20%;
  background-color: red;
}
.imagem2{
  width: 20%;
  text-align: center;
}
.equipa{
  padding-top: 20%;
  color: black !important;
  text-align: center;
}
.separar{
  width: 90%;
  border: solid 0.5px lightgray;
  margin-top: 6%;
}
.ultimos{
  width: 50%;
  text-align: center;
  border-radius: 3px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.botao{
    height: 88%;
    padding-top: 2%;
    margin-right: auto;
    width: 50%;
    margin-left: auto;
}
.botao1{
  width: 50%;
}
.botao2{
  width: 50%;
  margin-left: 0 !important;
}
.ult{
  @extend .botao;
    background-color: #DBE5B1;
  
}
.prox{
   @extend .botao;
  border: solid 1px  #DBE5B1;
}
.estilo1{
  width: 50%;
}
.bo{
  padding-bottom: 3em;
}
.golos{
  padding-top: 7%;
    padding-left: 5%;
    font-size: 110%;
    font-weight: bold;
}
.goloslinha{
  border: solid 3px #DBE5B1;
  height: 25px;
  border-bottom: none;

}

hr{
      margin-bottom: -10px !important;
}
.pad2{
  margin-right: 2%;
  margin-left: 2%;
}
.padr{
  padding-right: 4%;
}
.padlinha{
    padding-left: 16px;
    padding-right: 16px;
}
.nav > li > a, .nav > rubix-nav-item > li > a, .nav > rubix-menu > li > a {
    padding: 4px 6px;
}
.todo{
  width: 100%;
  font-size: 88%;
  margin-bottom: 4%;
}
.fundo{
  background: #DBE5B1;
}
.sempad{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.clicmenu{
    margin-bottom: 20px;
    width: 100%;
}
a#pills-basic-tab-home{
  float: right;
}

.esq{
  text-align: left;
}
.dir{
  text-align: right;
}

.dist{
  color: grey !important;
  font-size: 10px;
}
.res{
  color: grey !important;
  font-size: 10px;
  text-align: right;
}


.estilo2{
  font-size: 10px;
}
.qua2{
    border-radius: 4px;
    background: orange;
    text-align: center;
    color: white;
    width: 30px;
}
.ali{
  display: inline-flex;
  color: white;
  text-align: center !important;
  font-size: 14px;
}
.todos{
    border-radius: 6px;
    margin-right: 4%;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 2%;
    margin-top: 4%;
  
}
.win{
   @extend .todos;
  background-color: #A1BC31;
}
.los{
   @extend .todos;
  background-color: #A01127;
}
.emp{
  @extend .todos;
  background-color: #F0CF29;
}
.ee{
  padding-left: 120px;
  padding-top: 10px;
}
.top{
  padding-top: 7px;
}
.competicao{
  padding-left: 4%;
  width: 34%;
}
.rubix-panel{
  background-color: #E9F0F5;
}
.cor{
  background-color: white;
}

//MyPanel ----------------------------------------------------------------------------------------
.dat{
  width: 13%;
}
.dat2{
  width: 12%;
}
.pet{
  width: 34%;
  padding-left: 2%;
}
.home{
  padding-right: 3%;
}
.home2{
  width: 24%;
  padding-right: 3%;
}
.away{
  width:24%;
}
.ent{
    height: 20px;
}

.graf{
  width:50%;
}
.graf1{
    
    margin-right: 10%;
    margin-left: 10%;
    height: 242px;
    margin-bottom: 10%;
}
.progbar2{
    height: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}

a {
  text-decoration: none !important;
}
li{
  list-style-type: none;
}
.colleg{
  width: 318px;
  margin-left: auto;
  margin-right: auto;
}
.legenda{
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 10px;
  border: solid 2px;
}
.casa{
  background-color: #D8E5B0;
  @extend .legenda;
}
.fora{
  background-color: #F2D7CD;
  @extend .legenda;
}
.global{
  background-color: #BEC9D5;
  @extend .legenda;
}
.nav-pills > li.active > a {
    background: #D8E5B0;
    color: white;
}
.nav-pills > li > a{
        width: 200px;
        text-align: center;
}

.rubix-panel-container {
    background-color: transparent;
}
.bg-greend{
  background: #D8E5B0 ;
}

.grafgolo{
  width: 215px;
}
.rubix-panel-controls{
  display: none;
}
.progbar{
  height:11px;
}
.mt{
  margin-top: 35px;
}


li#draw{
  color: yellow;
}

li#lose{
  color: red;
}
li#win{
  color: green;
}


@media (max-width: 740px) {
body{
  font-size: 90%;
}
}